
 * {
   box-sizing: border-box;
   margin: 0;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 
 .App a {
    color: #26738D;
  }
  
  .App h1 {
    font-size: 2rem;
    color: #E4EAECE6;
  }

  .App h2 {
    color: #353944;
  }

  .App h3 a {
    color: #353944;
  }

  /*targets App-header*/
  .App .App-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgba(20, 16, 16, 0.925);
    text-align: end;
  }

.App-header {
  background-color: #253a4eee;
  color: #fff;
  font-size: calc(14px + 1vmin);
  padding: 1rem;
}

  .App-header a {
    color:#fff;
    font-weight: normal;
    text-decoration: none;
  }
  .App-header ul {
    padding: 0;
  }
  
  .App-header li {
    list-style: none;
    display: inline;
    padding: 1rem;
    font-weight: bold;
  }

  .App-header li:first-child {
    padding-left: 0; 
  }

.App article {
  padding: 2rem;;
}

  .App article ul {
    margin: 0;
    padding: 0;  
  }

/* changes main posts in skate-logs*/
  .App article.posts-container {
    display: flex;
    flex-direction: column;
    background: #2b152cee;
    min-height: 587px;
    width: 100%;
  }
/* change single post view container*/
  .App article.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #542a57ee;
    position: absolute;
    height: 100%;
    width: 100%;
  }

/* changes the uls under post */
  .App article ul li {
    list-style: none;
    padding: .8rem;
    border: rgba(255, 235, 205, 0.938) solid 2px;
    margin: 20px;
    width: 600px;
    min-height: 100px;
    text-align: left;
    box-shadow: 6px 6px 6px 5px rgba(8, 8, 8, 0.952);
    border-radius: .3rem;
  }

  .App article li h2 {
    text-decoration: underline overline 1px rgba(202, 19, 80, 0.945);
  }
  
/* styles the delete and edit button */
  #crud-buttons {
    margin-top: .5rem ;
    color: rgba(255, 255, 255, 0.87);
  }

/*styles single post component */
  div.content {
    margin-top: .8rem;
  }

  .App article h3 {
    font-size: calc(14px + 2vmin);
  }

/* changes content toolbar in create post*/
  .App div.ql-toolbar.ql-snow{
    background: rgba(0, 0, 0, 0.932);
  }

.App-link {
  color: #4cb6d3;
}

.App-message { 
  background-color: #55A9D6; 
  color: white;
  padding: 2rem 1rem;
  text-shadow: 0 1px 0 #444;
}

  .App-message.saved {
    background: #51BB7A;
  }

  .App-message.deleted {
    background: #FF3F69;
  }

/* changes the entire editing form*/
 .App form {
  padding: 2rem;
  background: rgb(97, 113, 134);
  margin: auto;
}
/*these are colors to make forms invis rgba(32, 33, 34, 0.1)*/

/* changes login form*/
  .App form.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: auto;
    margin-top: 7em;
  }

  /* changes the create post container*/
  .App form.container {
   margin-top: 6em;
   width: 550px;
  }

  .App {
    background-color: rgba(19, 16, 16, 0.945);
    min-height: 587px;
  }

  .App form input {
    border: 1px solid #ccc;
    padding: .3rem;
    width: 100%;
  }

  .App form label {
    display: block;
    padding: .5rem 0;
  }

  .App form input#form-title {
    min-width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
  }

  .App form .ql-editor {
    min-height: 4rem;
  }
  
  .App form button[type="submit"] {
    border: 1px #ccc solid;
    background: white;
    font-size: 1rem;
    padding: .5rem 1rem;
    margin-top: .2rem;
  }
  .App form button[type="submit"]:hover {
    cursor: pointer;
  }

  /* linkLike class is for delete button styles */
.App button.linkLike {
  border: none;
  font-size: inherit;
  color: #26738D;
  text-decoration: none;
  background-color: rgba(245, 245, 245, 0) ;  
}

  .App button.linkLike:hover {
     cursor: pointer;
  }

  .App article.post-container, a {
    text-decoration: none;
  }
  .App a {
    color: #E4EAECE6;
  }
